/* ----------------------------------------------------------------------------
   Font specification
---------------------------------------------------------------------------- */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ----------------------------------------------------------------------------
   Main
---------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
html, body {
  background: white linear-gradient(to bottom, rgba(85, 127, 187, 1) 0%, rgba(85, 127, 187, 1) 162px, rgba(238, 238, 238, 1) 162px, rgba(238, 238, 238, 1) 100%) no-repeat;
  background-image: linear-gradient(to bottom, rgba(85,127,187,1) 0%, rgba(85,127,187,1) 162px, rgba(238,238,238,1) 162px, rgb(238, 238, 238) 100%);
  /* line-height: 1.42857143; */
}

html body {
  background-attachment: unset;
  margin-bottom: 90px; /* Margin bottom by footer height */
}


/* ----------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------- */

html body header #header_box {
  margin: 0px auto 0px auto;
  background-color: #557fbb;
  background-image: linear-gradient(180deg, #7ea0c8 0%, #557fbb 98%, #557fbb 100%);
  padding: 0px;
}

html body header #header_box #project_logo_box {
  height: 75px;
  padding-top: 15px;
  padding-left: 15px;
}

html body header #header_box #project_logo_box a {
  height: 19px;
  color: white;
  font-family: Calibri;
  font-size: 25px;
  font-weight: 300;
  margin-left: 40px;
  display: table-caption;
}

.mir-prop-nav .navbar-nav > li > a .caret {
  border-top-color: white;
}

#gbv {
  background-image: url(../images/logo.png);
  border-top: 1px solid white;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clear: both;
  height: 80px;
  background-color: #3685D4;
}

#options_nav_box {
  padding-top: 15px;
  padding-right: 15px;
}

/* ----------------------------------------------------------------------------
   Navigation
---------------------------------------------------------------------------- */
.mir-prop-nav .navbar-nav > li > a {
  color: white;
}



/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */
html body #powered_by {
  background-color: white;
  border-top: 0px;
}
.flatmir-footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here */
}


/* ----------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------- */
#gbv-main_header {
  font-size: 4.6em;
  font-weight: 300;
  line-height: 84px;
  margin-bottom: 77px;
}
